.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bintrayKey
gradle.properties
*.iml
/local.properties
/build
/captures
/.idea
.DS_Store
.externalNativeBuild
.gradle
.DS_Store

bin

*.iml
*.log
*.iml
.gradle